.background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/background_ui.png");
  background-size: 100%;
}
.stallContainer {
  width: 85%;
  height: 80%;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  background-color: #e4d3c4;
  color: #2b201c;
  font-size: 2vmin;
  position: relative;
  border-radius: 8px;
  border: 3px solid #574436;
}
.stallHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.5vmin;
}
.stallHeaderTitleContainer {
  display: flex;
  align-items: baseline;
  gap: 1.5vmin;
}
.stallHeaderTitle {
  font-size: 4vmin;
  text-transform: capitalize;
}
.stallHeaderDescription {
  font-size: 2vmin;
  text-transform: capitalize;
}
.moneyBalance {
  height: fit-content;
  padding: 0.5vmin 1vmin;
  display: flex;
  align-items: center;
  gap: 6px;
}
.coinImage {
  width: 3vmin;
  height: 3vmin;
  object-fit: none;
}
.moneyBalanceValue {
  font-size: 2.5vmin;
}
.stall {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3vmin;
}
.stallContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.groupsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  overflow-y: auto;
}
.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vmin;
}
.groupTitle {
  font-size: 2.5vmin;
  text-transform: capitalize;
}
.itemsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmin;
}
.item {
  width: 8vmin;
  height: 8vmin;
  border: 2px solid #574436;
  border-radius: 12px;
  background-color: #dbc5b2;
  overflow: hidden;
}
.item:hover {
  border-color: #d6ba56;
}
.item.active {
  border-color: #5e8e54;
}
.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lootDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  overflow-y: auto;
}

/* Button styles */
.buttonsContainer {
  display: flex;
  gap: 1vmin;
  margin-top: auto;
  width: 100%;
}

.button {
  padding: 1vmin 2vmin;
  border: none;
  border-radius: 4px;
  font-size: 2.5vmin;
  cursor: pointer;
  flex: 1;
}

.sellButton {
  background-color: #ffbb34;
}

.sellButton:hover {
  background-color: #ffaa00;
}
.sellButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  background-color: #574436;
  color: #ebe6e1;
}

.closeButton:hover {
  background-color: #3d2e22;
}

/* Empty state styles */
.emptyStateContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vmin;
  flex-grow: 1;
}

.emptyStateMessage {
  margin: 0;
  font-size: 3vmin;
}

.emptyStateSubMessage {
  margin: 0;
  font-size: 2vmin;
}

.emptyDetailsMessage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5vmin;
}
