.lootDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}
.headerContainer {
  display: flex;
  gap: 2vmin;
}
.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5vmin;
}
.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  align-items: baseline;
}
.name {
  font-size: 3vmin;
  text-transform: capitalize;
}
.category {
  font-size: 1.5vmin;
  text-transform: capitalize;
}
.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vmin 5vmin;
}
.detailItem {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.detailName {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 2vmin;
}
.junkPieceName {
  font-size: 1.5vmin;
  font-style: italic;
  opacity: 0.9;
  text-transform: none;
}
.junkImageContainer {
  width: 5vmin;
  height: 5vmin;
  border: 2px solid #574436;
  border-radius: 12px;
  background-color: #dbc5b2;
  overflow: hidden;
}
.junkImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageContainer {
  flex-shrink: 0;
  width: 100%;
  max-width: 20vmin;
  aspect-ratio: 1/1;
  position: relative;
  border: 2px solid #574436;
  border-radius: 12px;
  background-image: url("/assets/spotlight_ui.png");
  background-size: 100%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5vmin;
  font-size: 2vmin;
  display: flex;
  align-items: center;
  color: #ebe6e1;
}

.moneyBalance {
  height: fit-content;
  padding: 0.5vmin 1vmin;
  display: flex;
  align-items: center;
  gap: 6px;
}
.coinImage {
  width: 3vmin;
  height: 3vmin;
  object-fit: none;
}
.moneyBalanceValue {
  font-size: 2.5vmin;
}
