.newLootInfo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5vmin;
  color: #ebe6e1;
  font-size: 2vmin;
}
.name {
  font-size: 4vmin;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.button {
  width: 100%;
  padding: 1vmin 2vmin;
  border: none;
  background-color: #ebbf2d;
  color: #2b201c;
  font-size: 2.5vmin;
  cursor: pointer;
}
.button:hover {
  background-color: #574436;
  color: #ebe6e1;
}
